.primero {
    background-color: aqua;
}

.segundo {
    background-color: gold;
}

.tercero {
    background-color: hotpink;
}

.cuarto {
    background-color: lawngreen;
}

.quinto {
    background-color: mediumblue;
}

.titulocolor {
    color: green;
    text-align: center;
}