table, td, th {
    border: 1px solid black;
}

table {
    width: 10%;
    border-collapse: collapse;
}

.merienda {
    text-align: center;
    background-color: olive;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.m04 {
    background-color: orangered;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.m06 {
    background-color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.m07 {
    background-color: chartreuse;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.m08 {
    background-color: gold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.m10 {
    background-color: pink;
    font-family: 'Times New Roman', Times, serif;
}

.tut {
    background-color: tomato;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}