table, th, td{
    border: 2px solid black; width: 100%;
}

td {
    background-color: deepskyblue;
}

body {
    background-color: cornflowerblue;
}

th {
    background-color: aliceblue;
}

h1 {
    color: red;
    font-size: 64px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body.patata {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

h1.patata {
    color: black; font-size:20px;
    text-align: left;
}

h2.patata {
    color:#666; font-size:16px;
}

p.patata, li.patata {
    color:black; font-size:12px;
}