body {
    background-image: url(../img/doomslayer.jpg);
    height: 250px;
    background-size: 119rem;
}

h1 {
    text-align: center;
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul, li {
    align-self: center;
}

table, th, td{
    border: 2px solid black;
    margin-top: 4cm;
    margin-left: 12cm;
    padding: 15px;
    text-align: center;

}

table {
    border-collapse: collapse;
    width: 50%;
}

.formulario {
    background-color: darkred;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

.skins {
    background-color: darkred;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    column-span: 2;
}

iframe {
    width: 700px;
    height: 500px;
    border: 1px solid black;
}

p {
    color: gold;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}