#primerdiv {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
#goku1 {
  grid-column-start: 3;
}

#div2 {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
  
#termina {
    grid-column-start: 3;
  grid-column-end: 4;
}

#div3 {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
  
#nivel7 {
    grid-column-start: 2;
  grid-column-end: span 2;
}

#div4 {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
  
#nivel10 {
  grid-column: 4 / 6;
}

#div5 {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
  
#termina3 {
  grid-row: 3;
  grid-column: 2;

}

#div6 {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
#goku {
    order: -1;
    grid-row: 2;
    grid-column: 2;
  }
  
#kinton {
  order: 0;
  grid-row: 2;
  grid-column: 2;
  opacity: 0.8;
}

#div7 {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 30% 70%
  }
  
#vegeta {
    grid-column: 1;
    grid-row-start: 2;
}
#goku4 {
    grid-column: 2;
    grid-row-start: 2;
}