div {
    width: 600px;
    height: 600px;
    margin: 5px;
}
.verdel1 {
    padding: 30px;
    height: 25px;
    width: 500px;
    background-image: url(../../img/trunks.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    float: left;
}

.verdel2 {
    padding: 30px;
    height: 30px;
    width: 120px;
    background-image: url(../../img/Daiz4-pag61.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    float: left;
    margin: -195px 5px;
}
.verde1 {
    padding: 30px;
    height: 30px;
    width: 120px;
    background-image: url(../../img/TF.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    float: left;
}
.verde2 {
    padding: 30px;
    height: 30px;
    width: 120px;
    background-image: url(../../img/images.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    float: left;
    margin: -95px 5px;
}
.azul {
    padding: 50px;
    height: 190px;
    width: 270px;
    background-image: url(../../img/cat-ga9251620f_640.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    float: left;
}
.negro {
    padding: 60px;
    height: 65px;
    width: 60px;
    background-image: url(../../img/314-3145529_troll-face-meme-generator-ps4-vs-xbox-one.png);
    background-repeat: no-repeat;
    background-size: auto;
    float: left;
}
.verdel3 {
    padding: 30px;
    height: 30px;
    width: 120px;
    background-image: url(../../img/descarga\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: auto;
    float: left;
}
.verde3 {
    padding: 30px;
    height: 30px;
    width: 120px;
    background-image: url(../../img/descarga.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    float: left;
    margin: 100px -185px;
}
.verdel4 {
    padding: 60px;
    height: 160px;
    width: 60px;
    background-image: url(../../img/tabien.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    float: left;
}
.verdel5 {
    padding: 20px;
    height: 45px;
    width: 330px;
    background-image: url(../../img/PeterW_zt_5.png);
    background-repeat: no-repeat;
    background-size: auto;
    float: left;
    margin: -90px 5px;
}
.verdel1:hover {
    opacity: 0.5;
}
.negro:hover{
    opacity: 0.5;
}
.verdel3:hover{
    opacity: 0.5;
}